<!-- <div class="container">
    <form [formGroup]="roomChoose" (ngSubmit)="saveData()">
    <div fxLayout="row stretch" fxLayoutGap="30px">
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
              <mat-option *ngFor="let country of countryLst" [value]="country.value">
                 {{country.viewvalue}}
                
              </mat-option>
             
            </mat-select>
          </mat-form-field>
            </div>
         
            
            <button type="submit">select Room</button>
            </form>
        </div> -->