<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
  <form [formGroup]="editBooking">
    <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input  [rangePicker]="picker">
          <input matStartDate formControlName="checkInDate" placeholder="Start date">
          <input matEndDate formControlName="checkOutDate" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      
 
      </mat-form-field>
        <mat-form-field appearance="fill" class="w-100">
      <mat-label>Enter Mobile</mat-label>
      <input matInput formControlName="mobileNo">
    </mat-form-field>
</form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="update()">Save</button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>
